.current-conditions-container {
  background-color: var(--white);
  padding: 50px;
  height: 880px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container i {
  margin-right: 10px;
  color: var(--secondary-color);
}

.search-container input {
  width: 80%;
  border: none;
  padding: 7px 12px;
  border-radius: 5px;
  background-color: var(--white);
  color: var(--secondary-color);
}

.search-container input:focus {
  outline: 2px solid var(--primary-color);
}

.current-conditions .icon-big {
  width: 85%;
  margin-top: 30px;
}

.current-conditions .current-temp {
  margin-top: 20px;
  font-size: 90px;
  font-weight: 300; /*ne radi iz nekog razloga, probat neki drugi font*/
  /* Todo */
  color: var(--secondary-color);
}
.current-conditions .current-temp sup {
  font-size: 50px;
}

.current-conditions .day {
  margin: 50px 0;
  font-size: 22px;
  color: var(--secondary-color);
}

.current-conditions .day span {
  color: #d6d7da;
}

.current-conditions hr {
  background-color: var(--primary-color);
  border: none;
  height: 2px;
  margin-bottom: 30px;
}

.current-conditions .cloudiness,
.current-conditions .rain-probability {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.current-conditions .cloudiness p,
.current-conditions .rain-probability p {
  color: var(--secondary-color);
}

.current-conditions .cloudiness img,
.current-conditions .rain-probability img {
  width: 40px;
  margin-right: 10px;
}

.city-img-container {
  width: 250px;
  height: 100px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  margin: 40px 0 10px;
}

.city-img-container::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--img-filter);
}

.city-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

}

.city-img-container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  z-index: 1;
}