@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --white: #fff;
  --background-color: #d6d7da;
  --primary-color: #f6f6f8;
  --secondary-color: #1a1a1a;
  --animation-loading-color: #cdcdcd;
  --img-filter: rgba(0, 0, 0, .35);
}

html.dark {
  --white: #151515;
  --background-color: #272727;
  --primary-color: #1f1f1f;
  --secondary-color: #f6f6f8;
  --animation-loading-color: #212121;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 50px 0;
  font-family: 'Lato', sans-serif;
  background-color: var(--background-color);
  font-family: sans-serif;
}

.weather-container {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 35px;
}