h3 {
  margin-bottom: 40px;
}

.todays-higlights-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.highlight {
  background-color: #fff;
  height: 215px;
  padding: 25px 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.highlight .highlight-title {
  color: #aeaeae;
  font-size: 18px;
}

#feels-like .value {
  margin-bottom: 15px;
  font-size: 90px;
}

.feels-like .value sup {
  font-size: 45px;
}

.highlight .value-unit p {
  display: inline-block;
}

.highlight .value {
  font-size: 55px;
}

.highlight .unit {
  font-size: 25px;
}

.highlight .wind-direction {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.highlight .wind-direction img {
  width: 35px;
  margin-right: 15px;
}

.highlight .wind-direction p {
  font-size: 20px;
}

.sunrise-sunset .highlight-title {
  margin-bottom: 20px;
}

.sunrise, .sunset {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sunrise-sunset img {
  width: 60px;
  margin-right: 15px;
}

.rating {
  font-size: 20px;
}